{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Recipes For All</title>
        <link rel="stylesheet" type="text/css" href="{% static 'recipe/style.css'%}">
    </head>

    <body>
        <div class="main-content-wrapper">
            <h1>Feed Me!</h1>
            <div class="information-wrapper">
                <p>What ingredients do you have?</p>
                <form action="http://localhost:8000/recipe/" method="POST">
                    {% csrf_token %}

                    <div class="text-field-wrapper old selected last">
                        <label for="ingredient">Ingredient</label>
                        <input class="text-field" type="text" name="ingredient0">
                    </div>

                    <br>

                    <div class="submit">
                        <input type="submit" value="Find Me Recipes!">
                    </div>
                </form>
            </div>
        </div>

        <script src="{% static 'recipe/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'recipe/script1.js' %}"></script>
    </body>
</html>