<!DOCTYPE html>
<html>
	<head>
		<title>Recipes Ready</title>
		<link rel="stylesheet" type="text/css" href="../../static/recipe/style2.css" />
		<link rel="stylesheet" type="text/css" href="../../static/recipe/lib/jquery.raty.css" />
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">	
    </head>

	<body>
		{% for r in storedvalues %}
		<div class="recipes-wrapper">
			<img class="thumbnails" src= "{{ r.picture }}">
			<h2 class="accordion"> {{ r.name }} </h2>
			<div id="stars"></div>
			<div class="recipe off">
				<ul>
					<li>Rating is {{r.rating}} out of 5</li>
					<li>
						Ingredients are:
						<ul>
						{% for j in r.ingredients %}
							<li>{{ j }}</li>
						{% endfor %}
						</ul>
					</li>
					<li><a href="{{ r.link }}">Click here for recipe!</a></li>
				</ul>
			</div>
		</div>
		{% endfor %}
	<p class="footnote">Recipe search powered by <a href='http://www.yummly.com/recipes'><img alt='Yummly' src='http://static.yummly.com/api-logo.png'/></a></p>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../static/recipe/lib/jquery.raty.js"></script>
    <script src="../../static/recipe/script.js"></script>

	</body>
</html>