* { Box-sizing: Border-box }
body{
	background-image:linear-gradient(315deg, hsl(208, 99%, 56%), hsl(119, 86%, 62%)); background-attachment: fixed;
}

html{
    height: 100%;
}

ul{
	padding-bottom: 0.5em;
}

.off{
    display: none;
}

.recipes-wrapper{
	font-family: arial;
	width: 75%;
	margin: 0.5em auto 0.5em auto;
	color: white;
	cursor: pointer;
	color: black;
	background-color: rgba(255,255,255,0.8);
	border-radius: 7px;
}

.footnote{
	margin: 2em auto;
	text-align: center;
}

.recipe{
	margin-top: 3%;
	margin-left: 10%;
	font-size: 110%;
}

.accordion{
	max-width: 75%;
	position: relative;
	float: right;
	padding-right: 1em;
	margin: 0.2em 0;
}

.thumbnails{
	padding-left: 1em;
	padding-top: 1em;
	margin-top: 0;
	margin-bottom: 0;
}

.stars {
	float:right;
}