* { Box-sizing: Border-box }

html{
    height: 100%;
}

ul{
	padding-bottom: 0.5em;
}

.off{
    display: none;
}

.recipes-wrapper{
	font-family: arial;
	width: 75%;
	margin: 0.5em auto 0.5em auto;
	cursor: pointer;
	color: #333;
	border: 1px solid #333;
	border-radius: 7px;
}

.footnote{
	margin: 2em auto;
	text-align: center;
}

.recipe{
	margin-top: 3%;
	margin-left: 10%;
	font-size: 110%;
}

.accordion{
	max-width: 75%;
	position: relative;
	float: right;
	padding-right: 1em;
	margin: 0.2em 0;
}

.thumbnails{
	padding-left: 1em;
	padding-top: 0.8em;
  padding-bottom: 0.6em;
	margin-top: 0;
	margin-bottom: 0;
}

.stars {
	float:right;
}
