* { Box-sizing: Border-box }
body{
    background-image:linear-gradient(315deg, hsl(208, 99%, 56%), hsl(119, 86%, 62%)); background-attachment: fixed;
}
html{
    height: 100%;
}

h1{
    font-size: 50pt;
    text-align: center;
    margin: 0 auto;
    padding-top: 0.3em;
}

label{
    padding: 1em;
    font-size: 1.5em;
    text-align: left;
    color: #bbbbbb;
}

.main-content-wrapper{
    max-width: 400px;
    margin: 0 auto;
    min-height: 400px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 7px;
}

.information-wrapper{
    margin: 1em auto;
}

.information-wrapper .text-field-wrapper .text-field{
    height: 3em;
    margin: 1em 0;
    text-align: center;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #dddddd;
}

.information-wrapper .text-field-wrapper{
    position: relative;
    height: 5em;
    text-align: center;
    margin: 0.5em 0;
    left: -4px;
}

.information-wrapper .submit{
    text-align: center;
}

.submit input{
    background-color: #2098F9;
    border-color: #2098F9;
    box-shadow: none;
    border-radius: 3px;
    height: 3.5em;
    margin-bottom: 2em;
}

.submit input:active{
    box-shadow: inset -1px -1px 2px rgb(0,0,0,0.2);
}

.selected{
    border-left: 4px solid blue;
}