* { Box-sizing: Border-box }
body{
	background-image:linear-gradient(315deg, hsl(208, 99%, 56%), hsl(119, 86%, 62%)); background-attachment: fixed;
}
html{
    height: 100%;
}

.recipies-wrapper{
    margin: 1em auto;
    max-width: 600px;
}

.nameholder{
	background: rgba(255,255,255, 0.6);
	margin: 1em auto;
	border: 2px solid #555555;
}

.thumbnails{
	margin: 1% 2% 2% 2%;
}

.recipenames{
	margin: -7% 10% 3% 15%;
}