* { Box-sizing: Border-box }
body{
	background-image:linear-gradient(315deg, hsl(208, 99%, 56%), hsl(119, 86%, 62%)); background-attachment: fixed;
}
html{
    height: 100%;
}

.accordion{
	font-size: 130%;
}
.recipes-wrapper {
	height: 15%;
	margin: 10% auto 0 auto;
	background: rgba(255,255,255, 0.6);	
	border-left: 6px solid rgb(200,100,100);
}

.recipe{
	background: rgba(255,255,255, 0.6);
	border-left: 6px solid rgb(200,100,100);
	border-bottom: 10px solid rgb(100,150,220);
	cursor:pointer
}

.thumbnails{
	margin: 1% 2% 2% 2%;
}

