* { Box-sizing: Border-box }
body{
	background:#74AFAD; background-attachment: fixed;
}

html{
    height: 100%;
}

.recipes-wrapper{
	font-family: arial;
	width: 75%;
	margin: 1% auto -0.5% auto;
	color: white;
	border: 2px solid white;
	cursor: pointer;
	color: black;
	background-color: rgba(255,255,255,0.8);
	border-radius: 7px;
}

.footnote{
	margin-top: 10%;
}

.recipe{
	margin-top: 3%;
	margin-left: 10%;
	font-size: 110%;
}

.accordion{
	margin-top: -5.5%;
	margin-left: 11%;
}

.thumbnails{
	margin-top: 0;
	margin-bottom: 0;
}